.wrapper
  .shadow
    .shadow__box#drop-shadow
    .shadow__title Shadow 2
    .shadow__sub Drop Shadow

  .shadow
    .shadow__box#inner-shadow
    .shadow__title Shadow 4
    .shadow__sub Inner Shadow

  .shadow
    .shadow__box#dual-shadow
    .shadow__title Shadow 2 &amp; 4
    .shadow__sub Inner Shadow